<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body style="background-image: linear-gradient(to bottom right, #393939, #885555)">
    <!-- Nav Bar -->
    <ul>
        <li><a href="https://aqueous-citadel-20899.herokuapp.com/home">Board</a></li>
        <li><a href="https://aqueous-citadel-20899.herokuapp.com/createPost">Post</a></li>
        <li><a href="https://aqueous-citadel-20899.herokuapp.com/about">About</a></li>
    </ul>

    <!-- Container that prompts for data -->
    <div class="container">
        <h1>Create a Post</h1>
        <div class="md-form">
            <form>
                <textarea id="title" class="md-textarea form-control" rows="1">Add an interesting title</textarea>
                <br />
                <textarea id="body" class="md-textarea form-control" rows="4">Explain your idea</textarea>
                <br />
                <button type="button" value="Submit Post" onclick="makePost()">Submit Post</button>
            </form>
        </div>
    </div>

    <script>
        // Makes the POST request to the API
        async function makePost() {
            let obj = {};
            obj['body'] = document.querySelector("#body").value;
            obj['title'] = document.querySelector("#title").value;
            let url = "https://aqueous-citadel-20899.herokuapp.com/items"
            fetch(url, {
                method: 'POST',
                body: JSON.stringify(obj),
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                }
            })
            .then(d => { location.href = `https://aqueous-citadel-20899.herokuapp.com/home` })
            .catch(console.log)
        }
    </script>
</body>
</html>