<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body style="background-image: linear-gradient(to bottom right, #393939, #885555)">

    <ul>
        <li><a href="https://aqueous-citadel-20899.herokuapp.com/home">Board</a></li>
        <li><a href="https://aqueous-citadel-20899.herokuapp.com/createPost">Post</a></li>
        <li><a href="https://aqueous-citadel-20899.herokuapp.com/about">About</a></li>
    </ul>

    <div class="container">
        <h1>Create a Post</h1>
        <div class="md-form">
            <form>
                <!-- <i class="fas fa-pencil-alt prefix"></i> -->
                <textarea id="title" class="md-textarea form-control" rows="1">Add an interesting title</textarea>
                <br />
                <textarea id="body" class="md-textarea form-control" rows="4">Explain your idea</textarea>
                <br />
                <button type="button" value="Submit Post" onclick="makePost()">Submit Post</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
    async function makePost() {
        let obj = {};
        obj['body'] = document.querySelector("#body").value;
        obj['title'] = document.querySelector("#title").value;
        console.log(JSON.stringify(obj))
        let url = "https://aqueous-citadel-20899.herokuapp.com/items"
        fetch(url, {
            method: 'POST',
            mode: 'cors',
            cache: 'default',
            body: JSON.stringify(obj),
            headers: {'Content-Type': 'application/x-www-form-urlencoded'}
        })
        .then(console.log)
        .catch(console.log)
    }
    </script>

</body>

</html>