<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body style="background-image: linear-gradient(to bottom right, #393939, #558855)">
    <!-- Nav bar -->
    <ul>
        <li><a href="https://aqueous-citadel-20899.herokuapp.com/home">Board</a></li>
        <li><a href="https://aqueous-citadel-20899.herokuapp.com/createPost">Post</a></li>
        <li><a href="https://aqueous-citadel-20899.herokuapp.com/about">About</a></li>
    </ul>

    <!-- Container that prompts the data to be sent to the server -->
    <div class="container">
        <h1>Edit Post</h1>
        <div class="md-form">
            <form>
                <!-- <i class="fas fa-pencil-alt prefix"></i> -->
                <textarea id="title" class="md-textarea form-control" rows="1"></textarea>
                <br />
                <textarea id="body" class="md-textarea form-control" rows="4"></textarea>
                <br />
                <button type="button" value="Submit Post" onclick="submitEdit()">Submit Post</button>
            </form>
        </div>
    </div>

    <script>
        // Gets the data for the item, calls populate page
        const url = 'https://aqueous-citadel-20899.herokuapp.com/items/<%=id%>'
        fetch(url)
            .then(data => data.json())
            .then(populatePage)
            .catch(console.log)

        // Populates the prompt with the old data
        async function populatePage(data) {
            document.querySelector("#body").value = data[0].body;
            document.querySelector("#title").value = data[0].title;
        }

        // Submits the PUT request
        async function submitEdit() {
            let obj = {};
            obj['body'] = document.querySelector("#body").value;
            obj['title'] = document.querySelector("#title").value;
            let url = "https://aqueous-citadel-20899.herokuapp.com/items/<%=id%>"
            fetch(url, {
                method: 'PUT',
                body: JSON.stringify(obj),
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                }
            })
            .then(d => { location.href = `https://aqueous-citadel-20899.herokuapp.com/home` })
            .catch(console.log)
        }
    </script>
</body>
</html>