<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
    <ul>
        <li><a href="https://aqueous-citadel-20899.herokuapp.com/home">Board</a></li>
        <li><a href="https://aqueous-citadel-20899.herokuapp.com/createPost">Post</a></li>
        <li><a href="https://aqueous-citadel-20899.herokuapp.com/about">About</a></li>
    </ul>

    <div class="container">
        <h1>Idea board</h1>
        <p>You can post any ideas that you have but might not have the means to create. You could have an idea for an interesting website, a new invention, or anything that you think would improve the world! Share your ideas by clicking the "Post" tab in the navigation bar or clicking on the button below.</p>
    <div id="cont">
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script>
        const url = 'https://aqueous-citadel-20899.herokuapp.com/items'
        fetch(url)
            .then(data => data.json())
            .then(populatePage)
            .catch(console.log)

        async function populatePage(data) {
            data.forEach(datum => {
                document.getElementById("cont").insertAdjacentHTML('beforeend', `<div class="cards" onclick="viewCard(${datum.id})"><h4><b>${datum.title}</b></h4><p>${datum.body}</p></div>`);
            })
        }

        async function viewCard(num) {
            location.href(`https://aqueous-citadel-20899.herokuapp.com/viewItem/${num}`);
        }
    </script>
</body>

</html>