<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>

<p> You chose to use a weight of <%= weight %> for <span style="color:blue"><%= name %></span>, 
your total will come to <span style="color:crimson">$<%= price %></span>.</p>

</body>
</html>
